<div class='side_bar col-md-2'>
  <div class='TS_Info'>
    TeamSpeak 3 Server Status:
    <a href='https://www.planetteamspeak.com/serverlist/result/server/ip/98.118.4.77:9987/'>
      <div id="ts3status" class="btn btn-default">
        <div id="TS_icon"></div>
      </div>
    </a>
    <p id='TS_count'></p> 
    <script>
    Module = Module || {};
    Module.Teamspeak3();
    </script>
    <span class="light_text">Powered by: Planet Teamspeak</span>
    </div>
</div>