/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require bootstrap
 */

body {
	background-image: url(stardust.png);
	/*background-image: url(congruent_outline.png);*/

}

div {
	/*border: 1px solid black;*/
	font-family: inherit;
}

p {
	font-family: inherit;
}

sub { 
    font-size: smaller;
    font-size: 8px;
}

.container-fluid {
	padding: 0px;
	width: 100% !important;
	/*font-family: 'Audiowide', cursive;*/
	/*font-family: 'Squada One', cursive;*/
	/*font-family: 'Open Sans', sans-serif;*/
}

.content {
	padding-left: 0px;
}

.notice {
	color: #000000;
	font-size: 14px;
}

.iframe-google-calendar {
	margin-left: 25px;
}

.event_container {
	border-left: 5px solid #4C4CB2;
	border-right: 5px solid #4C4CB2;
	margin-top: -5px;
	margin-bottom: -5px;
	padding-top: 15px;
	padding-bottom: 10px;
	background-color: #DDD;
}

.page_foot {
	margin-top: 15px;
	height: 30px;
/*	font-size: 20px;
	font-family: 'Audiowide', cursive;
	color: #ffffff;*/
	border-top: 10px solid #4C4CB2;
	background-color: #4F4F7F;
}

/*Color*/

a {
	color: #000000;
}

a:hover {
	color: #000000;
	background-color: inherit;
}

.c_primary {
	background-color: #4F4F7F;
}

.c_primary a {
	color: #ffffff;
}

/*Borders and Fonts*/

.header {
	min-width: 750px;
}

.login {
	float: right;
	width: 250px;
	margin-top: 5px;
	margin-right: 10%;
	/*margin-left: 40%;*/
	background-color: #DDD;
	padding: 5px;
	padding-left: 20px;
	padding-right: 20px;
	border-top: 3px solid #4F4F7F;
	border-right: 3px solid #4F4F7F;
	border-left: 3px solid #4F4F7F;
	border-radius: 10px 10px 0px 0px;
}

.logo {
	display: inline-block;
	/*float: left;*/
	margin-top: 5px;
	padding: 15px;
	padding-right: 50px;
	font-size: 25px;
	font-family: 'Audiowide', cursive;
	background-color: #DDD;
	min-width: 170px;
}

.logo_side {
	display: inline-block;
	margin-left: -5px;
	margin-bottom: -15px;
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 48px 0 0 150px;
	border-color: transparent transparent transparent #dddddd;
}

.head_buffer {
	height: 54px;
	position: relative;
}

.head-bar {
	padding: 5px;
	min-height: 30px;
	font-size: 20px;
	font-family: 'Audiowide', cursive;
	/*margin-bottom: 5px;*/
	color: #ffffff;
	border-bottom: 10px solid #4C4CB2;
}

.head-link {
	padding-left: 25px;
	float: left;
}

.side_bar {
	border-left: 3px solid #4C4CB2;
	border-bottom: 3px solid #4C4CB2;
	border-top: 3px solid #4C4CB2;
	top: -10px;
	/*min-width: 200px;*/
	/*border-radius: 5px;*/
	/*margin-top: 5px;*/
	border-radius: 10px 0px 0px 10px;
	box-shadow: 10px 10px 5px #666;
	position: relative;
	z-index: 10;
	margin-bottom: 25px;
	background-color: #DDD;

}

/*INDEX CSS*/

.index_post {
	padding:10px;
	border: 3px solid #4C4CB2;
	margin-bottom: 5px;
	margin-top: 20px;
	border-radius: 10px;
	box-shadow: 10px 10px 5px #666;
	background-color: #DDD;

}

.index_content {
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 50px;
	/*font-family: 'Open Sans', sans-serif;*/
	/*font-size: 18px;*/
	line-height: 110%;

}

.index_title {
	font-family: 'Audiowide', cursive;
	font-size: 22px;
}

.index_icon {
	background-color: #fff;
	height: 80px;
	width: 80px;
	float: left;
	margin-left: -25px;
	margin-right: 10px;
	border: 3px solid #4F4F7F;
	border-radius: 5px;
	background: url("GH_Image.png");
	background-size: 74px, 74px;
}


/*POST CSS*/

.post_header {
	border-right: 3px solid #4C4CB2;
	border-bottom: 3px solid #4C4CB2;
	border-radius: 0px 0px 10px 0px;
	padding: 10px;
	padding-top: 20px;
	padding-left: 40px;
	margin-top: -10px;
	margin-left: -60px;
	box-shadow: 10px 10px 5px #666;
	background-color: #DDD;
}

.post_title {
	font-size: 28px;
	font-family: 'Audiowide', cursive;
	line-height: 25px;
}


.post_timestamp {
	font-size: 18px;
	font-family: 'Audiowide', cursive;
}

.post_content {
	margin-top: 5px;
	padding: 5px;
	border: 3px solid #4C4CB2;
	border-radius: 10px;
	box-shadow: 10px 10px 5px #666;
	background-color: #DDD;
}

.post_content {
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 50px;
	margin-left: -20px;
	/*font-family: 'Open Sans', sans-serif;*/
	font-size: 14px;
	line-height: 110%;
	border-bottom: 10px solid #4C4CB2;
}

/*COMMENT CSS*/

.comment {
	border: 3px solid #4C4CB2;
	border-radius: 10px;
	margin-bottom: 15px;
	padding: 5px;
	font-size: 14px;

}

.comment_content {
	font-size: 16px;
	padding-left: 25px;
	line-height: 110%;

}

.comment_field {
	margin-left: 50px;
	padding-top: 20px;
	padding-bottom: 20px;
}

/* Dashboard and admin CSS*/

.dashboard_content {
		background-color: #DDD;
}

.dashboard_index {
	padding: 5px;
	border: 2px solid #444444;
	margin: 5px;

}

.dashboard_links {
	margin-top: 5px;
}

.dashboard_data {
	border-bottom: 1px solid #444444;
	padding-bottom: 5px;
}

/*TS CSS*/

.TS_Info {
	margin-top: 10px;
}

#ts3status {
	font-size: 12px;
	min-width: 190px;
}

#TS_icon {
	float: left;
	width: 20px;
	height: 20px;
	background-position: -80px 0px;
	margin-right: 10px;
	background-image: url(PCGOA_sprite.png);
}

.light_text {
	color: grey;
	font-size: 8px;
}