// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.post_header {
	border-right: 3px solid #4C4CB2;
	border-bottom: 3px solid #4C4CB2;
	border-radius: 0px 0px 10px 0px;
	padding: 10px;
	padding-top: 20px;
	padding-left: 40px;
	margin-top: -10px;
	margin-left: -60px;
	/*box-shadow: 10px 10px 5px #666;*/
	background-color: #DDD;
}

.post_title {
	font-size: 28px;
	font-family: 'Audiowide', cursive;
	line-height: 25px;
}


.post_timestamp {
	font-size: 18px;
	font-family: 'Audiowide', cursive;
}

.post_content {
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 200px;
	margin-top: 5px;
	margin-left: -200px;
	/*font-family: 'Open Sans', sans-serif;*/
	font-size: 14px;
	line-height: 110%;
	border: 3px solid #bbb;
	/*border-radius: 10px;*/
	/*box-shadow: 10px 10px 5px #666;*/
	background-color: #DDD;
}